body {
  padding: 50px;
  background-color: #1a1a1a;
  font-family: sans-serif;
}

.column {
    float: left;
    width: 32%;
    padding:5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.todoListMain .header input {
  padding: 5px;
  font-size: 16px;
  border: 2px solid #333;
  width: 165px;
  background:#333333;
  height:28px;
  border-radius:5px;
  outline:none;
  color:#fff;
}

button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: transparent;
  color: #FFF;
  border: 2px solid #777;
  border-radius:5px;
}

button:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.todoListMain .theList {
  list-style: none;
  color: red;
  padding-left: 0;
  width: 300px;
}
.right {
  margin:20px;
}

.todoListMain .theList li {
  color: #fff;
  background-color: rgba(255, 255, 255, .5);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 0px;
  list-style: none;
  height:50px;
}

ul.theList {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}


.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

.delete-btn {
  float:right;
  background:transparent;
  outline:none;
  border:none;
  font-weight:bold;
  font-size:12px;
  width:10%;
  padding:0;
  margin-left:5px;
  margin-top:0px;
}

.delete-btn:hover{
  border:none;
}

.sentence {
  float:left;
  width:85%;
}

.analyzed-array {
}

.header{
  text-align:center;
}
